img {

    width: 200px;
    height: 350px;
    display: flex;
    margin: 5px;
}

.star {
    color: black;
    font-size: 30px;
}

.star:hover {
    color: grey;
}

p {
    width: 50%;
    height: auto;
}