<div>
      <img src="{{books[index].image_src}}">
      <h3>{{books[index].title}} <input type="text" placeholder="Име на книгата" (input)="changeTitle($event)"></h3>
      <p>{{books[index].description}} <input type="text" placeholder="Описание" (input)="changeDescription($event)"></p>
      <h3>{{books[index].author}} <input type="text" placeholder="Автор" (input)="changeAuthor($event)"></h3>
      <div class="card" (click)="processNextBook()">
            <br />
            <span (click)="gfg(1)" class="star">★
            </span>
            <span (click)="gfg(2)" class="star">★
            </span>
            <span (click)="gfg(3)" class="star">★
            </span>
            <span (click)="gfg(4)" class="star">★
            </span>
            <span (click)="gfg(5)" class="star">★
            </span>
            <h3 id="output">
                  Рейтинг до момента: {{books[index].current_rating}}/5 ({{books[index].ratingCount}})
            </h3>
      </div>
</div>